*{
    margin: 0;
    padding: 0;
}

body
{
    background-image: url("https://res.cloudinary.com/dpfnyv0ut/image/upload/v1707716193/Soothing-nature-backgrounds-2.jpg_w4hkmw.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.container
{
    max-width: 300px;
    margin-top: 50px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    padding: 10px;
}
form button
{
  margin-left: 100px;
  margin-top: 10px;
  width: 100px;
}
.form-group1
{
    margin-top: 10px;
}
